body {
    background-image: linear-gradient(rgb(214, 64, 64), rgb(171, 50, 50));
    background-attachment: fixed;
}

#logo {
    display: flex;
    justify-content: center;
    width: 60%;
}

div#topmargin {
    margin-top: 5%;
}

div{
    display: flex;
    justify-content: center;
}
